@keyframes shine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shine {
  animation: shine 5s linear infinite;
  background-size: 200% 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}